# Đổi tên thành .env và điền
API_KEY=
DEBUG_MODE=false
LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_BASE_URL="https://cloud.langfuse.com"

# Redis Semantic Cache
REDIS_HOST=localhost
REDIS_PORT=6379
# REDIS_PASSWORD=your_redis_password   # bỏ comment nếu Redis có password
