# Vector Database
data/vectordb/

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
*.egg-info/

# Environments
.env

# Bỏ qua các file key và chứng chỉ bảo mật
docker/volume/cache/*.key
docker/volume/cache/*.pem
docker/volume/cache/*.crt

# Bỏ qua file nháp cá nhân
bug.text
src/redis-test.py
CLAUDE.md

